@import '~/src/assets/scss/reset.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@200;400;600&display=swap');

// titles

$tittle-1: 26px;
$tittle-2: 20px;
$body-1-regular: 16px;
$body-1-bold: 16px bold;
$body-2-regular: 14px;
$body-2-bold: 14px bold;
$caption-1: 12px;
$caption-2: 10px;

// Font

$fontPrincipal: IBM Plex Sans;